<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Error page</title>
		<meta charset="utf-8" />
		<object th:include="fragments/header :: head" th:remove="tag" />
		<link rel="shortcut icon" type="image/icon" th:href="@{/resources/images/favicon.ico}"/>	
        <style>
            p.big500 {
                font-size: 6em;
                color: #3F51B5;
                font-weight: 700;
            }
            .big500 small{font-size:2em}
        </style>
	</head>
	<body>
		<div id="wrapper">
		<!-- 	<i th:replace="/fragments/component :: sidebar"></i> -->
			<div class="container">
				<!-- top header -->
			<!-- 	<div th:replace="/fragments/component :: topheader" ></div> -->
			
				<!-- Body Part -->
				<div class="wrapper wrapper-content">

					<div class="row">
						<div class="col-sm-12 pagenotfound">
							<div class="dis-flex">
								<p class="big500">500 <small>Error</small></p>
                                <p class="small">Internal Sever Error</p>
		                   			<a th:href="@{/}" class="btn">Back to Home Page</a>  
		                     </div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</body>
</html>