<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Vedanta</title>
<object th:include="fragments/header :: head" th:remove="tag"></object>
<!-- Favicon -->
<link rel="shortcut icon" type="image/icon" th:href="@{/resources/images/favicon.ico}"/>
</head>
<body>
	<div id="wrapper" th:with="adminFormActive=${'active'},adminFormGroupListActive =${'active'}">
		<i th:replace="/fragments/component :: sidebar"></i>
		<div class="white-bg page-wrapper header-wrapper">
			<!-- top header -->
			<div th:replace="/fragments/component :: topheader" ></div>
			<!-- Body Part -->
			<div class="wrapper wrapper-content">

				<div class="container-fluid">
					<div class="row btm-brd">
						<div class="col-sm-12">
							<div class="page-title">
								<h3>Form Group Create</h3>
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-10">
							<div class="setting-content">
								<form class="client-form" action="#" th:action="@{/admin/form/groups/save}"
								th:object="${formGroupMapper}" method="POST">
									<div class="row  create mb10px">
										<div class="col-sm-3 col-md-3 col-md-offset-1">
											<label class="pull-right mt10px">Form :</label>
										</div>
										<div class="col-sm-9 col-md-6">
											<select name="formId" id="groupSelect" onchange="checkForm();">
												<option value="0">Select Form</option>
												<option 
													th:if="${forms != null }" 
													th:each="form : ${forms}" 
													th:selected="${formGroupMappers != null and formGroupMappers.formId != form.id ? selected : ''}" 
													th:value="${form.id}">
													<span th:text="${form.name}"></span>
												</option>
											</select>
											<span class='errormsg text-left' style="display:none;" id="formSpan">Please enter form name</span>
										</div>
										
									</div>
									<div class="create" >
										<div class=" form-group row">
											<div class="col-sm-3 col-md-3 col-md-offset-1">
												<label class="mt5px pull-right">Groups :</label>
											</div>
											<div class="col-sm-9 col-md-6 " >
												<div class="row mb10px dis-flex xsblock">
													<div class="col-sm-12 xs-p0" >
														<input type="search" class="form-control" placeholder="Search group" id="searchField"  onkeyup="myFunction()" />
													</div>											
												</div>
											  	<ul id="myUl" class="inner-scroll">
											  		<li class="row mb10px dis-flex search-result check-box" th:if="${groups != null }" th:each="group,iter : ${groups}">
											  			<div class="col-sm-1">
												    		<label class="vote-check" >
												     			<input type="checkbox"  th:attr="name='formGroups[' + ${iter.index} + '].formGroupDetailId'"
																th:checked = "${formGroupMappers.containsGroupId(group.id)}"
																th:value="${group.id}" onclick="checkGroup();"/>
																<span id="mySpan" class="items-name font0" th:text="${group.name}"></span>
												
															</label>
														</div>
													  	<div class="col-sm-9 p0px"><span id="mySpan" th:text="${group.name}"></span></div>
													  	<div class="col-sm-2">
													  		<input type="text" class="form-control" placeholder="sortOrder"
															th:attr="name='formGroups[' + ${iter.index} + '].sortOrder'" th:value="${iter.index}">
												  		</div>
												  	</li>
											  	</ul>
											 	<span class='errormsg text-left' style="display:none;" id="groupSpan">You must check at least one checkbox</span>
											 </div>											
										</div>											
									</div>
									<br/>
									<div class="row">
										<div class="col-sm-12 col-md-10 text-right">											
											<button class="btn btn-success" type="submit" >Save</button>
										</div>												
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<div th:include="fragments/component :: footer"></div>
		<!-- / page wrapper -->
	</div>
	<!-- /wrapper -->
	<script th:inline="javascript">
		$(document).ready(function() {
			$('#groupSelect').selectpicker({
				liveSearch: true,
			});
		});
		
		
		$('form').submit(function () {	

		    groupCheck = $("#groupSelect").val();

		     if(groupCheck == 0 || groupCheck == 'NA') {
		    	 $("#formSpan").show();
		    	 $("#groupSelect").focus();
		         return false;
		     }		     
		     checked = $("input[type=checkbox]:checked").length;
		     if(!checked) {
		    	 $("#groupSpan").show();
		       return false;
		     }
		   });
		
		$( "#searchField" ).keypress(function() {
			  console.log( "Handler for .keypress() called." );
		});
		 
		 function myFunction() {
			   
			    var input, filter, ul, li, a, i;
			    input = document.getElementById('searchField');
			    filter = input.value.toUpperCase();
			    ul = document.getElementById("myUl");
			    li = ul.getElementsByTagName('li');
			    span = document.getElementById("mySpan");

			    // Loop through all list items, 
			    for (i = 0; i < li.length; i++) {
			        a = li[i].getElementsByTagName("span")[0];
			        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
			            li[i].style.display = "";
			        } else {
			            li[i].style.display = "none";
			        }
			    }
			}

		 function checkForm(){
			 checked = $("#groupSelect").val();
		    if (checked > 0){
		  	     $( "#formSpan" ).hide();
		    }
			
		}
		 
		 function checkGroup(){
			 checked = $("input[type=checkbox]:checked").length;
			 
			 if(checked) {
		  	  $("#groupSpan").hide();
		      return false;
		    } 
			
		}

		
	</script>
</body>
</html>