<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">



<title>Vedanta</title>
<object th:include="fragments/header :: head" th:remove="tag" />
<link rel="shortcut icon" type="image/icon"
	th:href="@{/resources/images/favicon.ico}" />

<style>
.show-on-hover:hover>ul.dropdown-menu {
	display: block;
}
</style>

<script th:inline="javascript">
        $(document).ready(function () {

        /*<![CDATA[*/

        	var statusData = [[${status}]];
        	var filter = [[${filter}]]
        /*]]>*/
        if(filter != null)
        	$('#datetimepickerFrom').val(filter.fromDate);
        if(filter != null)
        	$('#datetimepickerTo').val(filter.toDate);
        	
        	$('#dateRangeSearch').on('click', function() {
    			var baseUrl = window.location.protocol+"//"+window.location.host+"/vedanta-web/"
    			
    			var encodedFrom = encodeURIComponent($("#datetimepickerFrom").val());
    			var encodedTo = encodeURIComponent($("#datetimepickerTo").val());
    			
    			baseUrl = baseUrl+"web/dashboard?fromDate="+encodedFrom+"&toDate="+encodedTo+"&status="+$("#filterRange").val();
    			window.location.href = baseUrl;
    		});	
        
        
        	$('#filter').on('change', function() {
        		
        		var baseUrl = window.location.protocol+"//"+window.location.host+"/vedanta-web/"
        		
        		if(this.value == 5){
        			baseUrl = baseUrl+"web/dashboard?status=5";
        		}
        		if(this.value == 3){
        			baseUrl = baseUrl+"web/dashboard?status=3";
        		}
        		if(this.value == 6){
        			baseUrl = baseUrl+"scorecard?status=6";
        		}
        		if(this.value == 7){
        			baseUrl = baseUrl+"web/dashboard?status=7";
        		}
        		if(this.value == 0){
        			baseUrl = baseUrl+"web/dashboard?status=0";
        		}
        		if(this.value == 2){
        			baseUrl = baseUrl+"web/dashboard";
        		}
        		
        		window.location.href = baseUrl;
        		});
        
        	
        });
    </script>
</head>

<body>
	<div id="wrapper" th:with="dashboardActive=${'active'}">

		<div th:replace="/fragments/component :: sidebar" />
		<div class="white-bg page-wrapper header-wrapper">
			<!-- top header -->
			<div th:replace="/fragments/component :: topheader" ></div>
			<!-- Body Part -->
			<div class="wrapper wrapper-content">
				<div class="container-fluid">
					<div class="row btm-brd">
						<div class="col-sm-6">
							<div class="page-title">
								<h3>Welcome: <span th:text="${userName}"></span></h3>
							</div>
						</div>
					</div>
				</div>
			</div>

				
			<div class="container-fluid">
				<div class="row mb10px">
					<div class="col-sm-3">
						<h4 class="panel-title mb10px mt10px">Scorecards</h4>
					</div>
				</div>
				<div class="row client-form ">
					<div class='col-sm-2 '>
				    	<label>Filter on Date</label>
				        <div class="input-group calendar">
				        	<span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
			            	<input type='text' class="form-control" id='datetimepickerFrom' placeholder="From" />
			            </div>
			        </div> 
			        <div class='col-sm-2'>
			        	<label>&nbsp;</label>
			            <div class="input-group calendar">
				        	<span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
			            	<input type='text' class="form-control" id='datetimepickerTo' placeholder="To" />
			            </div>
		            </div>
		            <div class='col-sm-2'>
		            	<label>Status</label>
		                <select id="filterRange" class="form-control ">
							<option value="2"th:selected="${filter.status == '2'}">All</option>
							<option value="0" th:selected="${filter.status == '0'}">Pending</option>
							<option value="3" th:selected="${filter.status == '3'}">Draft</option>
							<option value="5" th:selected="${filter.status == '5'}">Submitted</option>
							<option value="7" th:selected="${filter.status == '7'}">Approved</option>	
						</select>
		            </div>
		            <div class="col-sm-2">
		              	<label>&nbsp;</label>
		              	<button id="dateRangeSearch" class="btn  btn-success mr5px">Go!</button>
		              	<a th:href="@{/web/dashboard}" class="btn btn-success btn-info">Reset</a>
		            </div>
		        </div>
					
				<div class="row mt10px">
					<div class="col-sm-12 ">
						<div class="summary-box panel no-border">
							<div class="socio-table table-responsive client-form">
								<table id="data-table" class="table table-striped table-bordered  settings">
									<thead> 
										<th class="small-width text-center">S.No <i class="fa fa-exchange fa-rotate-90 pull-right" aria-hidden="true"></i></th>
										<th class="sm-width">Contract # <i class="fa fa-exchange fa-rotate-90 pull-right" aria-hidden="true"></i></th>
										<th class="sm-width">Vendor Name <i class="fa fa-exchange fa-rotate-90 pull-right" aria-hidden="true"></i></th>
										<th class="sm-width">Category Name <i class="fa fa-exchange fa-rotate-90 pull-right" aria-hidden="true"></i></th>
										<th class="sm-width">SubCategory Name <i class="fa fa-exchange fa-rotate-90 pull-right" aria-hidden="true"></i></th>
										<th class="sm-width">Month-Year <i class="fa fa-exchange fa-rotate-90 pull-right" aria-hidden="true"></i></th>
										<th class="sm-width">Frequency <i class="fa fa-exchange fa-rotate-90 pull-right" aria-hidden="true"></i></th>

										<th class="sm-width">Status
											<select id="filter" class="form-control sm-control pull-right">
												<option value="2"
												  	th:selected="${status == 2}">All
												</option>
												<option value="0" th:selected="${status == 0}">
													Pending
												</option>
												<option value="3" th:selected="${status == 3}">
													Draft
												</option>
												<option value="5" th:selected="${status == 5}">
													Submitted
												</option>
												<option 
													value="6"
													th:selected="${status == 6}">
													Rejected
												</option>
												<option 
													value="7"
													th:selected="${status == 7}">
													Approved
												</option>
										     </select>
										</th> 
										<!-- <th class="sm-width">TotalScore <i class="fa fa-exchange fa-rotate-90 pull-right" aria-hidden="true"></i></th> -->
									</thead>
									<tbody>
										<tr th:if="${scoreCards != null }"
											th:each="scoreCard,iterator : ${scoreCards}">
											<td class="text-center"><label
												th:text="${iterator.index + 1}"></label></td>

											<td><a th:href="@{/scorecard/user/}+${scoreCard.id}"><span
													th:if="${scoreCard.contractNumber != null }"
													th:text="${scoreCard.contractNumber}"> </span></a></td>

											<td><span th:if="${scoreCard.vendor.name != null }"
												th:text="${scoreCard.vendor.name}"></span></td>

											<td><span th:if="${scoreCard.categoryName != null }"
												th:text="${scoreCard.categoryName}"></span></td>

											<td><span th:if="${scoreCard.subCategoryName != null }"
												th:text="${scoreCard.subCategoryName}"></span></td>
											<td><span th:if="${scoreCard.yearId != null }"
												th:text="${parserUtils.getMonthString(scoreCard.monthId)+'-'+scoreCard.yearId} "></span></td>
											<td><span
												th:if="${scoreCard.template.frequency != null }"
												th:text="${scoreCard.template.frequency}"></span></td>
											<td><span th:if="${scoreCard.status != null }"
												th:text="${scoreCard.status == 0 ? 'Pending' : scoreCard.status == 3 ? 'Draft' : scoreCard.status == 5 ? 'Submitted' : scoreCard.status == 6 ? 'Rejected' : 'Approved'}">
											</span> (<span th:if="${scoreCard.totalScore != null }"
												 th:text="${scoreCard.actualScore + ' / '+ parserUtils.doubleToIneger(scoreCard.totalScore)}"></span>)</td>
											<!-- <td><span th:if="${scoreCard.totalScore != null }"
														th:text="${scoreCard.totalScore + '/100'}"></span></td> -->

										</tr>
									</tbody>
									</tbody>
								</table>

							</div>
						</div>

					    </div>
					
				</div>

					</div>

				</div>
				<!-- footer -->
		<div th:include="fragments/component :: footer"></div>
			</div>
		</div>
	</div>			




	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript">

	
		
		$(function () {

			$("#data-table").dataTable({
		    	"order": [],
		    	"columnDefs": [{
		    		"targets"  : 7,
		    		"orderable": false,
		    	}]
		    });
			

            $('#datetimepickerFrom').datetimepicker({
          	  viewMode: 'years',
              format: 'MM/YYYY'
            });
            $('#datetimepickerTo').datetimepicker({
          	  viewMode: 'years',
                format: 'MM/YYYY'
                /* format: 'DD/MM/YYYY' */
            });
            
        });


	</script>

</body>
</html>