
<meta http-equiv="Context-Type" content="text/html; charset=UTF-8">
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Vedanta</title>
<object th:include="fragments/header :: head" th:remove="tag"></object>
<!-- Favicon -->
<link rel="shortcut icon" type="image/icon"
	th:href="@{/resources/images/favicon.ico}" />



</head>
<body>
	<div id="wrapper">
		<i th:replace="/fragments/component :: sidebar"></i>

		<div class="white-bg page-wrapper header-wrapper">
			<!-- top header -->
			<div th:replace="/fragments/component :: topheader" ></div>
			<!-- Body Part -->
			<div class="wrapper wrapper-content">

				<div class="container-fluid">
					<div class="row btm-brd">
						<div class="col-sm-6">
							<div class="page-title">
								<h3>Add/Update Field information</h3>
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-10">
							<div class="setting-content">
								<form class="client-form" action="#"
									th:action="@{/admin/template/field/save}" th:object="${field}"
									method="POST">
									<div class="row form-group">
										<div class="col-sm-1"></div>
										<div class="col-sm-3">
											<label class="mtb5px pull-right">Name :</label>
										</div>
										<div class="col-sm-6">
											<input type="hidden" name="id" th:value="${field.id}" /> 
											<input class="form-control" th:value="${field.name}" type="text"
												id="name" name="name" />
										</div>
									</div>

									<div class="row form-group">
										<div class="col-sm-offset-1 col-sm-3">
											<label class="mtb5px pull-right">Label Name :</label>
										</div>
										<div class="col-sm-6">
											<input class="form-control" type="text" id="label_name"
												name="labelName" th:value="${field.labelName}" />
										</div>
									</div>
									<div class="row form-group">
										<div class="col-sm-1"></div>
										<div class="col-sm-3">
											<label class="mtb5px pull-right">Description :</label>
										</div>
										<div class="col-sm-6">
											<input class="form-control" type="text" id="description"
												name="description" th:value="${field.description}" />
										</div>
									</div>
									
									<div class="row form-group">
										<div class="col-sm-offset-1 col-sm-3">
											<label class="mtb5px pull-right">Data Unit :</label>
										</div>
										<div class="col-sm-6">
											<select class="form-control" name="dataUnitId" id="dataUnit">
												<option value="0">Select Data Unit</option>
												<option th:each="dataUnit: ${dataUnits}"
													th:selected="${field.dataUnitId}==${dataUnit.id}"
													th:value="${dataUnit.id}"><span
														th:text="${dataUnit.symbol} +',' + ${dataUnit.name}"></span>
												</option>
											</select>
										</div>
									</div>
									<div class="row form-group">
										<div class="col-sm-1"></div>
										<div class="col-sm-3">
											<label class="mtb5px pull-right">Weight
												:</label>
										</div>
										<div class="col-sm-6">
											<input class="form-control" type="text"
												id="weight" name="weight"
												th:value="${field.weight}" />
										</div>
									</div>
									
									<div class="row form-group">
										<div class="col-sm-1"></div>
										<div class="col-sm-3">
											<label class="mtb5px pull-right">Scoring Description
												:</label>
										</div>
										<div class="col-sm-6">
											<input class="form-control" type="text"
												id="scoringDescription" name="scoringDescription"
												th:value="${field.scoringDescription}" />
										</div>
									</div>
									
									<div class="row form-group">
										<div class="col-sm-offset-1 col-sm-3">
											<label class="mtb5px pull-right">Type :</label>
										</div>


										<div class="col-sm-6">
											<select class="form-control" name="type" id="mySelect">
												<option value="0">Select Type</option>
												<option value="text" th:selected="${field.type} == text">Text</option>
												<option value="checkbox"
													th:selected="${field.type} == checkBox">CheckBox</option>
												<option value="radio" th:selected="${field.type} == radio">Radio</option>
												<option value="select" th:selected="${field.type} == select">Select</option>
											</select>

										</div>
									</div>

									<div class="row ">
										<div class="col-sm-4"></div>
										<div class="col-sm-6">
											<p id="demo" class="m0px"></p>
										</div>
									</div>
									<div class="row form-group">
										<div class="col-sm-offset-1 col-sm-9 formpanels">
											<hr />
											<h4 class="mtb5px">Scoring Criteria</h4>
										</div>
									</div>
									<div class="row scoringgroup onlyOnUpdate"
										th:if="${field.scoringCriteria!= null and field.scoringCriteria.size() > 0}">
										<div id=""
											th:if="${field.scoringCriteria != null  and field.scoringCriteria.size() > 0}"
											th:each="scoringCriteria,iterator : ${field.scoringCriteria}">
											<input type='hidden'
												th:name="'scoringCriteria['+${iterator.index}+'].fieldId'"
												th:value="${field.scoringCriteria[ iterator.index ].fieldId}" />
											<input type="hidden" name="scoringCriteria[0].fieldId"
												th:value="${field.id}" />
											<div class="form-group">
												<div class="col-sm-3 col-sm-offset-1">
													<label class="mtb5px pull-right">Condition :</label>
												</div>
												<div class="col-sm-6">
													<select class="form-control"
														th:name="'scoringCriteria['+${iterator.index}+'].operator'"
														id="oprator_1">
														<option value="NA">Select Condition</option>
														<option value="EQUALS"
															th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[iterator.index].operator == 'EQUALS'}">
															Equal</option>
														<option value="GREATER_THAN"
															th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[iterator.index].operator == 'GREATER_THAN'}">
															Greater Than</option>

														<option value="GREATER_THAN_EQUAL"
															th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[iterator.index].operator == 'GREATER_THAN_EQUAL'}">
															Greater Than Equal</option>
														<option value="LESS_THAN"
															th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[iterator.index].operator == 'LESS_THAN'}">

															Less Than</option>
														<option value="LESS_THAN_EQUAL"
															th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[iterator.index].operator == 'LESS_THAN_EQUAL'}">
															Less Than Equal</option>

														<option value="NOT_EQUAL"
															th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[iterator.index].operator == 'NOT_EQUAL'}">
															Not Equal</option>
														<option value="BOOLEAN"
															th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[iterator.index].operator == 'BOOLEAN'}">
															Boolean</option>
														<option value="ASSIGN"
															th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[iterator.index].operator == 'ASSIGN'}">
															Assign</option>
													</select>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-3 col-sm-offset-1">
													<label class="mtb5px pull-right">Compare with :</label>
												</div>

												<div class="col-sm-6">
													<input class="form-control" type="text" id="rightoperand"
														th:name="'scoringCriteria['+${iterator.index}+'].rightOperand'"
														th:value="${field.scoringCriteria != null  and field.scoringCriteria.size() > 0} ? ${field.scoringCriteria[iterator.index].rightOperand} : ''" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-3 col-sm-offset-1">
													<label class="mtb5px pull-right">Data Type :</label>
												</div>
												<div class="col-sm-6">
													<select class="form-control"
														th:name="'scoringCriteria['+${iterator.index}+'].rightOperandType'"
														id="rightOperandType_1">
														<option value="0">Select Data Type</option>
														<option value="INTEGER"
															th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[iterator.index].rightOperandType == 'INTEGER'}">
															Integer</option>
														<option value="LONG"
															th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[iterator.index].rightOperandType == 'LONG'}">
															Long</option>

														<option value="DOUBLE"
															th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[iterator.index].rightOperandType == 'DOUBLE'}">
															Double</option>

														<option value="FLOAT"
															th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[iterator.index].rightOperandType == 'FLOAT'}">
															Float</option>

														<option value="STRING"
															th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[iterator.index].rightOperandType == 'STRING'}">
															String</option>

														<option value="TARGET"
															th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[iterator.index].rightOperandType == 'TARGET'}">
															Target</option>

													</select>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-3 col-sm-offset-1">
													<label class="mtb5px pull-right">Out Score :</label>
												</div>
												<div class="col-sm-6">
													<input class="form-control" type="text"
														id="rightOperandType"
														th:name="'scoringCriteria['+${iterator.index}+'].outScore'"
														th:value="${field.scoringCriteria != null and field.scoringCriteria.size() > 0} ? ${field.scoringCriteria[iterator.index].outScore} : '0'" />
												</div>
											</div>

											<div class='form-group'>
												<div class='col-sm-10 text-right'>
													<input title='Remove' type='button' id='myClick'
														onclick='remove()' value='X' class='btn remove'>
												</div>
											</div>

										</div>
										<div class="form-group">
											<div class="col-sm-10 text-right">
												<input type="button" value="ADD" class="btn add"
													id="myClick2" onclick="myFunction3()" />
											</div>
										</div>
									</div>

									<div class="row scoringgroup OnlyOnAdd"
										th:if="${field.scoringCriteria == null || field.scoringCriteria.size() == 0 }">
										<div class="form-group">
											<div class="col-sm-3 col-sm-offset-1">
												<label class="mtb5px pull-right">Condition :</label>
											</div>
											<div class="col-sm-6" id="abcd">
												<select class="form-control"
													name="scoringCriteria[0].operator" id="operator">
													<option value="NA">Select Condition</option>
													<option value="EQUALS"
														th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[0].operator!= 'EQUALS'}">
														Equal</option>
													<option value="GREATER_THAN"
														th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[0].operator!= 'GREATER_THAN'}">
														Greater Than</option>

													<option value="GREATER_THAN_EQUAL"
														th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[0].operator!= 'GREATER_THAN_EQUAL'}">

														Greater Than Equal</option>
													<option value="LESS_THAN"
														th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[0].operator!= 'LESS_THAN'}">

														Less Than</option>
													<option value="LESS_THAN_EQUAL"
														th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[0].operator!= 'LESS_THAN_EQUAL'}">
														Less Than Equal</option>

													<option value="NOT_EQUAL"
														th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[0].operator!= 'NOT_EQUAL'}">
														Not Equal</option>
													<option value="BOOLEAN"
														th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[0].operator!= 'BOOLEAN'}">
														Boolean</option>
													<option value="ASSIGN"
														th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[0].operator!= 'ASSIGN'}">
														Assign</option>
												</select>
											</div>
										</div>

										<div class="clearfix"></div>
										<div class="form-group">
											<div class="col-sm-3 col-sm-offset-1">
												<label class="mtb5px pull-right">Compare with :</label>
											</div>

											<div class="col-sm-6">
												<input class="form-control" type="text" id="rightoperand"
													name="scoringCriteria[0].rightOperand"
													th:value="${field.scoringCriteria != null  and field.scoringCriteria.size() > 0} ? ${field.scoringCriteria[0].rightOperand} : ''" />
											</div>
										</div>
										<div class="clearfix"></div>
										<div class="form-group">
											<div class="col-sm-3 col-sm-offset-1">
												<label class="mtb5px pull-right">Data Type :</label>
											</div>
											<div class="col-sm-6">
												<select class="form-control"
													name="scoringCriteria[0].rightOperandType"
													id="rightOperandType_1">
													<option value="0">Select Data Type</option>
													<option value="INTEGER"
														th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[0].rightOperandType != 'INTEGER'}">
														Integer</option>
													<option value="LONG"
														th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[0].rightOperandType != 'LONG'}">
														Long</option>

													<option value="DOUBLE"
														th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[0].rightOperandType != 'DOUBLE'}">
														Double</option>

													<option value="FLOAT"
														th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[0].rightOperandType != 'FLOAT'}">
														Float</option>

													<option value="STRING"
														th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[0].rightOperandType != 'STRING'}">
														String</option>

													<option value="TARGET"
														th:selected="${field.scoringCriteria !=null and field.scoringCriteria.size() > 0 and field.scoringCriteria[0].rightOperandType != 'TARGET'}">
														Target</option>

												</select>
											</div>
											<!--<div class="col-sm-6"-->
											<!--th:if="${field.scoringCriteria == null}">-->
											<!--<select class="form-control"-->
											<!--name="scoringCriteria[0].rightOperandType"-->
											<!--id="rightOperandType">-->
											<!--<option value="0">Select Data Type</option>-->
											<!--<option value="INTEGER">Integer</option>-->
											<!--<option value="LONG">Long</option>-->
											<!--<option value="DOUBLE">Double</option>-->
											<!--<option value="FLOAT">Float</option>-->
											<!--<option value="STRING">String</option>-->
											<!--<option value="TARGET">Target</option>-->
											<!--</option>-->
											<!--</select>-->
											<!--</div>-->
										</div>
										<div class="clearfix"></div>
										<div class="form-group">
											<div class="col-sm-3 col-sm-offset-1">
												<label class="mtb5px pull-right">Out Score :</label>
											</div>
											<div class="col-sm-6">
												<input class="form-control" type="text"
													id="rightOperandType" name="scoringCriteria[0].outScore"
													th:value="${field.scoringCriteria != null and field.scoringCriteria.size() > 0} ? ${field.scoringCriteria[0].outScore} : '0'" />
											</div>
										</div>

										<div class="clearfix"></div>
										
									</div>

									<div class="row ">
										<div id="demo1" class="m0px"></div>
										<div class="form-group">
											<div class="col-sm-10 text-right">
												<input type="button" value="+ Add More" class="btn link"
													id="myClick2" />
											</div>
										</div>
									</div>

									<!-- VALIDATION -->
									<div class="row form-group">
										<div class="col-sm-offset-1 col-sm-9 formpanels">
											<hr />
											<h4 class="mtb5px">Validation</h4>
										</div>
									</div>
									<div class="row ">
										<div class="col-sm-1"></div>
										<div class="col-sm-3">
											<label class="mtb5px pull-right">Date Type :</label>
										</div>
										<div class="col-sm-6">
											<!-- <input class="form-control" type="text"  id="data_type"
    name="dataType" th:value="${field.dataType}" /> -->
											<select class="form-control" name="validations[0].dataType">
												<option value="NA">Select Data Type</option>
												<option value="INTEGER"
													th:selected="${field.validations !=null and field.validations.size() > 0 and field.validations[0].dataType != 'INTEGER'}">Integer
												</option>
												<option value="LONG"
													th:selected="${field.validations !=null and field.validations.size() > 0 and field.validations[0].dataType != 'LONG'}">Long
												</option>

												<option value="DOUBLE"
													th:selected="${field.validations !=null and field.validations.size() > 0 and field.validations[0].dataType != 'DOUBLE'}">Double
												</option>

												<option value="FLOAT"
													th:selected="${field.validations !=null and field.validations.size() > 0 and field.validations[0].dataType != 'FLOAT'}">Float
												</option>

												<option value="STRING"
													th:selected="${field.validations !=null and field.validations.size() > 0 and field.validations[0].dataType != 'STRING'}">String
												</option>

											</select>
										</div>
									</div>

									<br />

									<div class="row scoringgroup">
										<div class="form-group">
											<div class="col-sm-3 col-sm-offset-1">
												<label class="mtb5px pull-right">Min Value :</label>
											</div>
											<div class="col-sm-6">
												<input class="form-control" type="text" id="minValue"
													name="validations[0].minValue"
													th:value="${field.validations != null and field.validations.size() > 0} ? ${field.validations[0].minValue} : ''" />
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-3 col-sm-offset-1">
												<label class="mtb5px pull-right">Max Value :</label>
											</div>
											<div class="col-sm-6">
												<input class="form-control" type="text" id="maxValue"
													name="validations[0].maxValue"
													th:value="${field.validations != null and field.validations.size() > 0} ? ${field.validations[0].maxValue} : ''" />
											</div>
										</div>
									</div>
									<!-- Target Value -->

									<div class="row form-group">
										<div class="col-sm-offset-1 col-sm-9 formpanels">
											<hr />
											<h4 class="mtb5px">Target Value</h4>
										</div>
									</div>


									<div class="row scoringgroup">
										<input type="hidden" name="targetValue[0].fieldId"
											th:value="${field.id}" />
										<div class="form-group">
											<div class="col-sm-3 col-sm-offset-1">
												<label class="mtb5px pull-right">Value :</label>
											</div>
											<div class="col-sm-6">
												<input class="form-control" type="text" id="value"
													name="targetValue[0].value"
													th:value="${field.targetValue != null and field.targetValue.size() > 0} ? ${field.targetValue[0].value} : 'NA'" />
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-10 text-right mt20px">
											<button class="btn btn-success" type="submit">Save</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<div th:include="fragments/component :: footer"></div>
		<!-- / page wrapper -->
	</div>
	<!-- /wrapper -->
	<script th:inline="javascript">
		var count = 0;
		var scorecount = 0;
		$(document).ready(function() {
			console.log("ready!");
			$('#mySelect').on('change',function() {
				var value = this.value;
				if (value == "checkbox"	| value == "radio" | value == "select") {
					$("#demo").html("");
					$("#demo").append(
						"<div class='row mt10px' id='count" + count++ + "'><div class='col-sm-5'><label> Name:</label> <input type='text' class='form-control' name='fieldOptions[" + count + "].optionName'  ></div><div class='col-sm-5'><label>Value:</label> <input type='text' class='form-control' name=fieldOptions["
						+ count
						+ "].optionValue onkeypress = 'return checkForComma(event);' }) ></div><div class='col-sm-2 text-right'><label>&nbsp;</label>"
						+ "<input type='button' id='myClick' class='btn add' value='Add' /></div></div>"
					);
				} else if (value == "text") {
					$("#demo").html("");
				}
			});		

			
			$(document).on('click', '#myClick', function(){
				$("#myClick").val("X");
    			$("#myClick").attr("id", "removeField").addClass('remove');
				$("#demo").append(
					"<div class='row mt10px' id='count" + count++ + "'><div class='col-sm-5'> <input class='form-control' type='text' name='fieldOptions[" + count + "].optionName'  ></div><div class='col-sm-5'> <input class='form-control' type='text'"
					+ " name='fieldOptions[" + count + "].optionValue' onkeypress = 'return checkForComma(event);' }) ></div><div class='col-sm-2 text-right'>"
					+ "<input type='button' id='myClick' class='btn add' value='Add' /></div> </div>"
				);
			});
			$(document).on('click', '.remove', function(){
				$(this).closest('.row').remove();				
			});
			$(document).on('click', '.removefield', function(){
				$(this).closest('.scoringgroup').remove();				
			});
			
			$("#myClick2").click(function(){
				$("#demo1").append(
					"<div class=' scoringgroup scoregroup' id='count" + count++ + "'><input type='hidden' name='scoringCriteria[" + count + "].fieldId'th:value='${field.id}' />"
					+ "<div class='form-group'><div class='col-sm-3 col-sm-offset-1'><label class='mtb5px pull-right'>Condition :</label></div><div class='col-sm-6' ><select class='form-control'name='scoringCriteria[" + count + "].operator' id='operator'>"
					+ "<option value='0'>Select Condition</option><option value='EQUALS'> Equal </option><option value='GREATER_THAN'> Greater Than </option><option value='GREATER_THAN_EQUAL'> Greater Than Equal </option><option value='LESS_THAN'> Less Than</option><option value='LESS_THAN_EQUAL'> Less Than Equal </option><option value='NOT_EQUAL'>Not Equal</option><option value='BOOLEAN'>Boolean</option><option value='ASSING'>Assign</option></option>"
					+ "</select></div></div><div class='clearfix'></div>"
					+ "<div class='form-group'><div class='col-sm-3 col-sm-offset-1'><label class='mtb5px pull-right'>Compare with :</label></div><div class='col-sm-6'><input class='form-control' type='text' id='rightoperand'name='scoringCriteria[" + count + "].rightOperand' /></div></div>"
					+ "<div class='form-group'><div class='col-sm-3 col-sm-offset-1'><label class='mtb5px pull-right'>Data Type :</label></div><div class='col-sm-6'><select class='form-control'name='scoringCriteria[" + count + "].rightOperandType'id='rightOperandType'>"
					+ "<option value='0'>Select Data Type</option><option value='INTEGER'>Integer</option><option value='LONG'>Long</option><option value='DOUBLE'>Double</option><option value='FLOAT'>Float</option><option value='STRING'>String</option><option value='TARGET'>Target</option></option></select></div></div>"
					+ "<div class='form-group'><div class='col-sm-3 col-sm-offset-1'><label class='mtb5px pull-right'>Out Score :</label></div><div class='col-sm-6'><input class='form-control' type='text'id='rightOperandType' name='scoringCriteria[" + count + "].outScore'/></div></div>"
					+ "<div class='form-group'><div class='col-sm-10 text-right'><input title='Remove' type='button' value='X' class='btn removefield'></div></div></div>"
				);
			});
		});
		/* function remove() {
			var ele = --count;
			document.getElementById('count' + ele).remove();
		} */

		function checkForComma(event) {
			if (event.charCode == 44) {
				return false;
			} else {
				return true;
			}
		}
		/* function myFunction3() {
			$("#demo1").append(
				"<div class='row scoringgroup' id='count" + count++ + "'><input type='hidden' name='scoringCriteria[" + count + "].fieldId'th:value='${field.id}' />"
				+ "<div class='form-group'><div class='col-sm-3 col-sm-offset-1'><label class='mtb5px pull-right'>Condition :</label></div><div class='col-sm-6' ><select class='form-control'name='scoringCriteria[" + count + "].operator' id='operator'><option value='0'>Select Condition</option><option value='EQUALS'> Equal </option><option value='GREATER_THAN'> Greater Than </option><option value='GREATER_THAN_EQUAL'> Greater Than Equal </option><option value='LESS_THAN'> Less Than</option><option value='LESS_THAN_EQUAL'> Less Than Equal </option><option value='NOT_EQUAL'>Not Equal</option><option value='BOOLEAN'>Boolean</option><option value='ASSING'>Assign</option></option></select></div></div>"
				+ "<div class='clearfix'></div><div class='form-group'><div class='col-sm-3 col-sm-offset-1'><label class='mtb5px pull-right'>Compare with :</label></div><div class='col-sm-6'><input class='form-control' type='text' id='rightoperand'name='scoringCriteria[" + count + "].rightOperand' /></div></div>"
				+ "<div class='form-group'><div class='col-sm-3 col-sm-offset-1'><label class='mtb5px pull-right'>Data Type :</label></div><div class='col-sm-6'><select class='form-control'name='scoringCriteria[" + count + "].rightOperandType'id='rightOperandType'><option value='0'>Select Data Type</option><option value='INTEGER'>Integer</option><option value='LONG'>Long</option><option value='DOUBLE'>Double</option><option value='FLOAT'>Float</option><option value='STRING'>String</option><option value='TARGET'>Target</option></option></select></div></div>"
				+ "<div class='form-group'><div class='col-sm-3 col-sm-offset-1'><label class='mtb5px pull-right'>Out Score :</label></div><div class='col-sm-6'><input class='form-control' type='text'id='rightOperandType' name='scoringCriteria[" + count + "].outScore'/></div></div>"
				+ "<div class='form-group'><div class='col-sm-10 text-right'><input title='Remove' type='button'id='myClick' onclick='remove()' value='X' class='btn remove'></div></div></div>"\
			);
		} */
	</script>
</body>
</html>
